<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="it.cri.gaia.marvin" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Gaia Marvin</name>
  <description>
       "Marvin" è il nome in codice della nuova applicazione, parte del Progetto Gaia, per i dispositivi mobile.
  </description>
  <author email="marvin@gaia.cri.it" href="https://gaia.cri.it">
      Croce Rossa Italiana - Il Progetto Gaia
  </author>
  <content src="index.html"/>
  <access origin="tel:*" launch-external="yes"/>
  <access origin="geo:*" launch-external="yes"/>
  <access origin="mailto:*" launch-external="yes"/>
  <access origin="*"/>

  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>

  <icon src="icon.png" />

  <gap:plugin name="com.danielcwilson.plugins.googleanalytics" source="pgb" />
  <gap:plugin name="org.apache.cordova.inappbrowser" source="plugins.cordova.io" />
  <gap:plugin name="com.ionic.keyboard" source="plugins.cordova.io" />   

</widget>